# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Hangfire.AspNetCore.Plus.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\AV\Projects\github\hangfire-aspnetcore-plus\.idea\.idea.Hangfire.AspNetCore.Plus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
